.errorBanner {
  width: 100%;
  padding: var(--p-space-4);
  text-align: center;
  font: var(--font-medium);
  box-sizing: border-box;
}

.errorBanner--warning {
  background-color: var(--color-secondary-orange3);
  color: var(--color-text-alert-warning);
}

.errorBanner--error {
  background-color: var(--color-secondary-red1);
  color: var(--color-text-alert-error);
}
