.th {
  color: var(--color-text-subdued);
  font: var(--font-regular);
  text-align: center;
  padding: var(--p-space-4);
}

.td {
  font: var(--font-medium);
  padding: var(--p-space-4);
  text-align: center;
}

.tr {
  border-bottom: 1px solid var(--color-border);
}

.table {
  border-collapse: collapse;
  width: 100%;
}
